#!/bin/bash

# Ensure brew is available
{{- if eq .machine_type "csie" }}
eval "$($HOME/.linuxbrew/bin/brew shellenv bash)"
{{- else }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv bash)"
{{- end }}

# Install all tools defined in ~/.config/mise/config.toml
if command -v mise &>/dev/null; then
  mise install --yes
fi
