#!/bin/bash

# Ensure brew + mise are available
{{- if eq .machine_type "csie" }}
eval "$($HOME/.linuxbrew/bin/brew shellenv bash)"
{{- else }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv bash)"
{{- end }}
eval "$(mise activate bash)"

npm install -g pnpm
