#!/bin/bash
echo 01-install-brew

# Install Homebrew (Linuxbrew)
if ! command -v brew &>/dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- if eq .machine_type "csie" }}
  eval "$($HOME/.linuxbrew/bin/brew shellenv bash)"
{{- else }}
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv bash)"
{{- end }}
fi

# Install packages
brew install mise zellij nvim uv just chezmoi
